.container{
    background-color: bisque;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.buttonX{
    color: red;
    width: fit-content;
    
}

.subtitles{

}

.image{

}

